.list {
  padding: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.item {
  margin-bottom: 8px;
}

.link {
  color: black;
  transition: color 250ms ease;
}

.link:hover {
  color: blue;
}
